@import '../../../../less/common.less';

.mesNotice_footerbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: .8rem;
  border-top: 1px solid #EFEFEF;
  background: #FFFFFF;
  padding-top: .04rem;
  text-align: center;
  color: #f02933;
  line-height: .6rem;
  font-size: .19rem;
  &_left_text {
    margin-left: -.7rem
  }
  &_right_text {
    margin-left: .7rem
  }
  .am-flexbox {
    height: 100%;
    text-align: center;
  }
  .icon {
    color: rgb(252, 81, 49);
    font-size: 0.22rem;
    margin-right: 0.05rem;
  }

}